@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
    --primary-color: #DF6C1B;
    --secondary-color: #FEECDE;
    --tertiary-color: #FEF7F2;
}

html {
    font-size: clamp(14px, 1.5vw, 28px);
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--tertiary-color);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
}

.container {
    padding: 0;
}

.semi-height {
    min-height: 50vh;
    align-items: stretch;
}

.hero-image {
    background-image: url("../images/vanberesteyn.webp");
    background-size: cover;
    background-position: center;
    border: solid var(--primary-color);
    border-width: 1rem 0 0 1rem;
    position: relative;
}

.hero-text {
    position: absolute;
    left: 0;
    bottom: 1rem;
    background-color: var(--primary-color);
    padding: 1rem 1rem 1rem 2.4rem;
}

.hero-text h1 {
    color: white;
}

.hero-text h3 {
    color: var(--tertiary-color)
}

.counter {
    padding: 2rem 0 0 2rem;
    border: solid var(--primary-color);
    border-width: 0 0 0 1rem;
}

.counter-name {
    display: inline-block;
    border: 1px solid black;
}

.counter-logo {
    max-width: 100%;
    max-height: 20vh;
}

.itinerary {
    padding: 1rem 0 0 1rem;
}

.itinerary .odd, .itinerary .even {
    padding: .5rem !important;
}

.itinerary .odd {
    background-color: white;
}

.itinerary .even {
    background-color: var(--secondary-color);
}

.itinerary h3, .itinerary p {
    margin: 0;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .semi-height {
        min-height: auto;
        align-items: stretch;
    }
}
